body {
	background:#fff;	
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.logo {
	float:left;
	display:block;
	padding:10px 20px 10px;
	margin-left:-20px;
	font-size:20px;
	font-weight:200;
	color:#777777;
}

#header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1002;
	background: #f5f5f5;
	border-bottom:1px solid #D3D3D3;
}

.header-inner {
	padding-left:20px;
	padding-right:20px;
	background:#fff;
}

img {
	max-width:100%;
}

#main-body {
	padding-top:52px;
}

.breadcrumb {
	margin-bottom: 0px;
	background: #f5f5f5;
	border: 1px solid #E7E7E7;
	padding: 9px;
	margin: 10px 0px;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.middle{
	  margin: 24px auto 0;
	  width: 500px;
	  overflow: hidden;
	  min-height: 750px;
}

.projects-left {
	width:70%;
}

.projects-right {
	width:70%;
}

.projects-right {
	width:30%;
}


/*notification*/

#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 65px;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #f0f0f8 !important;
    background-color: #fff!important;
    border-color: #f0f0f8 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2E2E2E !important;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.dropdown-nav.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.navbar {
	margin-bottom:0px !important;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-nav.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };
}

.dropdown-nav.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-nav.extended li p.green {
    background-color: #a9d86e;
    color: #fff;
}

.dropdown-nav.extended li p.red {
    background-color: #ff6c60;
    color: #fff;
}

.dropdown-nav.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-nav.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-nav.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-nav.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
}

.dropdown-nav.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
}

.dropdown-nav.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-nav.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-nav.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-nav.inbox li a .subject {
    display: block;
}

.dropdown-nav.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-nav.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-nav.inbox li a .message {
    display: block !important;
    font-size: 11px;
}

.top-nav  {
    margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-nav.logout {
    width: 268px !important;

}

.top-nav li.dropdown .dropdown-nav {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-nav.extended.logout > li {
    float: left;
    text-align: center;
    width: 33.3%;
}

.dropdown-nav.extended.logout > li:last-child {
    float: left;
    text-align: center;
    width: 100%;
    background: #a9d96c;
    border-radius: 0 0 3px 3px;
}

.dropdown-nav.extended.logout > li:last-child > a, .dropdown-nav.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
}

.dropdown-nav.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}

.dropdown-nav.extended.logout > li > a {
    color: #fff;
    border-bottom: none !important;
}

.dropdown-nav.extended.logout > li > a:hover {
    background: none !important;
    color: #50c8ea;
}

.dropdown-nav.extended.logout > li > a:hover i {
    color: #50c8ea;
}

.dropdown-nav.extended.logout > li > a i {
    font-size: 17px;
}

.dropdown-nav.extended.logout > li > a > i {
    display: block;
}

.top-nav .username {
    font-size: 13px;
    color: #555555;
}

.top-nav ul.top-menu > li > a {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    background: none;
    margin-right: 0;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    border:1px solid #F1F2F7;
    background: #F1F2F7;

}

.top-nav .dropdown-nav.extended.logout {
    top: 50px;
}

.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}

.log-arrow-up {
    background: url("../img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

.glyphicon {
	padding-right:5px;	
}
/*----*/

.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}

.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}
.notify-arrow-red {
    border-color: transparent transparent #ff6c60;
    border-bottom-color: #ff6c60 !important;
    border-top-color: #ff6c60 !important;
}
.notify-arrow-green {
    border-color: transparent transparent #a9d86e;
    border-bottom-color: #a9d86e !important;
    border-top-color: #a9d86e !important;
}


/*search*/

.search {
    margin-top: 6px ;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("../img/search-icon.jpg") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #fff;
}

.search:focus {
    margin-top: 5px ;
    width: 180px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
}

/*search*/

.search {
    margin-top: 6px ;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("../img/search-icon.jpg") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #fff;
}

.search:focus {
    margin-top: 5px ;
    width: 180px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
}


table.dataTable {
	margin:0 auto;
	clear:both;
	width:100%
}
table.dataTable thead th {
	padding: 8px 4px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #666666;
	cursor: pointer;
	font-size: 12px;
}


table.dataTable tfoot th {
	padding:3px 18px 3px 10px;
	font-weight:600
}
table.dataTable td {
	padding:3px 5px
}
table.dataTable td.center,table.dataTable td.dataTables_empty {
	text-align:center
}
table.dataTable tbody tr td {
	border-left:1px solid #eaebef
}
table.dataTable thead tr th {
	border-left:1px solid #EAEDF1;
	border-bottom:1px solid #EAEDF1;
	border-top:1px solid #EAEDF1
}
table.dataTable tbody tr td:first-child {
	border-left:none
}
table.dataTable thead tr {
	background:#fff;
	background-size:100%;
}
table.dataTable thead tr th:first-child {
	border-left:none
}
table.dataTable thead tr:first-child {
	margin:0;
	padding:0;
	border-top:none
}
table.dataTable tr {
	border-top:1px solid #eaebef
}
table.dataTable tr.even {
	background-color:#F3F4F8
}
.dataTables_wrapper {
	position:relative;
	clear:both;
	*zoom:1
}
.dataTables_length {
	float:right;
	margin:0
}
.dataTables_length label {
	line-height:61px;
	height:61px;
	margin:0
}
.dataTables_length select {
	width:auto
}
.dataTables_length div.selector {
	width:auto
}
.entries-per-page {
	float:left;
	margin:0 15px 0 0
}
.dataTables_filter {
	float:left;
	font-size:11px;
	text-align:left;
	margin:0;
	position:relative
}
.dataTables_filter label {
	margin-bottom:0
}
.dataTables_filter label>span {
	display:block;
	float:left;
	padding-top:1px
}
.dataTables_filter input[type=text] {
	height:auto;
	padding:2px 20px 2px 7px;
	margin-left:15px;
	margin-bottom:0;
	width:180px;
	background:#fff;
	border:1px solid #EAEDF1
}
.dataTables_info {
	clear:both;
	float:left;
	padding:10px 0
}
.table-footer {
	clear:both;
	padding:8px 12px;
	height:36px;
	font-size:11px;
	color:#666;
	border-top:1px solid #cdcdcd;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	background:#fff;
	background:#fff;
	background-size:100%;
}
.table-header {
	border-top:1px solid #EAEDF1;
	height:61px;
	-webkit-box-shadow:0 1px 0 white inset;
	-moz-box-shadow:0 1px 0 white inset;
	box-shadow:0 1px 0 white inset;
	clear:both;
	padding:0 16px;
	font-size:11px;
	color:#666;
	background:#fff;
	background-size:100%;
}
.dataTables_paginate {
	float:right;
	margin-top:7px
}
.paging_full_numbers {
	height:22px;
	line-height:22px
}
.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_button current {
	border-top:1px solid #EAEDF1;
	border-left:1px solid #EAEDF1;
	border-right:1px solid #EAEDF1;
	border-bottom:1px solid #EAEDF1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border-radius:3px;
	padding:4px 7px;
	margin:0 3px;
	cursor:pointer;
	color:#686868;
	font-weight:100;
	font-size:11px;
}
.paging_full_numbers a.paginate_button {
	background:#EAEDF1;
	background-size:100%;
}
.paging_full_numbers a.paginate_button:hover {
	background:#eaeaea;cC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
}
.paging_full_numbers a.paginate_active,.paging_full_numbers a.paginate_button:active {
	border:1px solid #EAEDF1;
	color#aaa;
}
.paging_full_numbers a.paginate_button_disabled {
	background:#EAEDF1;
	color:#c5c5c5;
	box-shadow:none;
	border:1px solid #EAEDF1;
}
.paging_full_numbers a.paginate_button_disabled:active,.paging_full_numbers a.paginate_button_disabled:hover {
	background:#eee;
	border:1px solid #E2E2E2;
	box-shadow:none
}
.sorting,.sorting_asc,.sorting_desc {
	position:relative
}
.dataTables_paginate {
	float:right;
	margin-top:7px
}
.paging_full_numbers {
	height:22px;
	line-height:22px
}
.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active {
	border-top:1px solid #EAEDF1;
	border-left:1px solid #EAEDF1;
	border-right:1px solid #EAEDF1;
	border-bottom:1px solid #EAEDF1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border-radius:3px;
	padding:4px 7px;
	margin:0 3px;
	cursor:pointer;
	color:#686868;
	font-weight:100;
	font-size:11px;
}
.paging_full_numbers a.paginate_button {
	background:#EAEDF1;
	background-size:100%;
}
.paging_full_numbers a.paginate_button:hover {
	background:#eaeaea;cC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
}
.paging_full_numbers a.paginate_active,.paging_full_numbers a.paginate_button:active {
	border:1px solid #EAEDF1;
	color#aaa;
}
.paging_full_numbers a.paginate_button_disabled {
	background:#EAEDF1;
	color:#c5c5c5;
	box-shadow:none;
	border:1px solid #EAEDF1;
}
.paging_full_numbers a.paginate_button_disabled:active,.paging_full_numbers a.paginate_button_disabled:hover {
	background:#eee;
	border:1px solid #E2E2E2;
	box-shadow:none
}
.sorting>div,.sorting_asc>div,.sorting_desc>div {
	position:relative;
	height:20px;
	line-height:20px
}
.sorting>div:after,.sorting_asc>div:after,.sorting_desc>div:after {
	font-family:FontAwesome;
	font-weight:400;
	font-style:normal;
	display:inline-block;
	text-decoration:inherit;
	position:absolute;
	width:18px;
	height:18px;
	pointer-events:none;
	text-align:center;
	line-height:18px;
	font-size:14px;
	color:#888;
	color:#666666;
	line-height:14px;
	width:16px;
	height:16px;
	position:absolute;
	right:3px;
	top:3px
}
.sorting_asc,.sorting_desc {
	background:#f2f3f7;
	background-size:100%;
}
.sorting>div:after {
	content:"\f0dc"
}
.sorting_asc>div:after {
	content:"\f0de";
	top:7px
}
.sorting_desc>div:after {
	content:"\f0dd";
	top:1px
}
table.dataTable th:active {
	outline:none
}
.dataTables_scroll {
	clear:both
}
.dataTables_scrollBody {
	*margin-top:-1px;
	-webkit-overflow-scrolling:touch
}


/*sidebar navigation*/

#sidebar {    
    height: 100%;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background: #2a3542;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #35404D;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #737B83;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #FF6C60;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 30px !important;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
	color:#fff;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	display: block;
	padding: 9px 10px;
	background-color: #364952;
	background-image: -moz-linear-gradient(top,#394d57,#31424b);
	background-image: -ms-linear-gradient(top,#394d57,#31424b);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#394d57),to(#31424b));
	background-image: -webkit-linear-gradient(top,#394d57,#31424b);
	background-image: -o-linear-gradient(top,#394d57,#31424b);
	background-image: linear-gradient(top,#394d57,#31424b);
	background-repeat: repeat-x;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid #1d2e37;
	color: #fff;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: inset -3px 0 1px rgba(0,0,0,0.2);
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #35404d;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #FF6C60;
}

ul.sidebar-menu li.active a i {
    color: #FF6C60;
}


#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}

#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 8px;
    width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.mail-info, .mail-info:hover {
    margin: 0px 6px 0 0;
    font-size: 11px;
}

form {
	margin-bottom:0
}



.messages {
  padding: 0;
  list-style-type: none;
  margin: 0 20px 20px 10px;
}
.messages.withlist {
  margin-right: 210px;
}
.messages > li {
  margin-top: 20px;
}
.messages > li.insert {
  position: relative;
  margin-right: 10px;
}
.messages > li.insert #message-form {
  margin-bottom: 0;
}
.messages > li.insert .text input[type="text"] {
  border: 0;
  margin-bottom: 0;
  display: block;
}

.messages > li.insert .text {
	padding-bottom:15px;
}

.messages > li.insert .submit {
  position: absolute;
  right: 0;
}
.messages > li.insert .submit button {
  border: 0;
  background: #368ee0;
  color: #fff;
  margin: 2px;
  padding: 6px 8px;
}
.messages > li.insert .submit button[disabled="disabled"] {
  background: #ccc;
}
.messages > li .image {
  float: left;
  width: 50px;
}
.messages > li .image img {
  width: 50px;
}
.messages > li .message {
  position: relative;
  background: #eee;
  margin-right: 20px;
  padding: 10px;
  margin-left: 60px;
}
.messages > li .message .name {
  font-weight: 600;
  color: #007EC5;
  font-variant: small-caps;
}
.messages > li .message .projectname {
	font-size:18px;
   font-weight: 600;
   color: #007EC5;
   font-variant: small-caps;
}

.messages > li .message p {
  color: #444;
}
.messages > li .message .time {
  color: #555;
  font-size: 11px;
}
.messages > li .message .caret {
  position: absolute;
  left: -7px;
  top: 10px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #eee;
  border-left: 0;
}
.messages > li.right .image {
  float: right;
}
.messages > li.right .name {
  color: #0a2640;
}
.messages > li.right .message {
  background: #d1e5f8;
  margin-left: 0px;
  margin-right: 0;
  margin-right: 60px;
}
.messages > li.right .message p {
  color: #11406c;
}
.messages > li.right .message .time {
  color: #11406c;
}
.messages > li.right .message .caret {
  left: auto;
  right: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #d1e5f8;
  border-right: 0;
}
.messages > li.typing {
  display: none;
}
.messages > li.typing.active {
  display: block;
}

.messagewrap {
	height: 40px;
	cursor:pointer;
}

.message-text {
	overflow:hidden;
}

.project-image {
	width:150px;
	padding:20px 0;	
}

.project-list {
	background: #f9f9f9;
	border: 1px solid #ddd;
	margin-top:30px;
}

.project-list li {
	list-style:none;
	line-height:40px;
}
/*----------------------------
    The file upload form
-----------------------------*/

.upload-wrapper {
	float: left;
	background: #efefef;
	padding: 10px;
	width: 560px;
	border-radius:5px;
	webkit-border-radius:5px;
}

#upload{
	float:left;
	width:100%;
}

#drop{
	float: left;
	background-color: #F1F1F1;
	border: 1px dashed #BEBCBC;
	width: 100px;
	padding: 5px;
	text-align: center;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
	float: left;
	width: 100%;
	list-style: none;
	margin: 0 -30px;
}

#upload ul li{
	position: relative;
	float: left;
	width: 100%;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
	margin-left: 90px;
	padding-top: 10px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
	padding-left: 30px;
	padding-top: 5px;
}

#upload ul li div {
	float:left;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/icons.png') 0px -13px no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

.formupload {
	float:left;
	width:100%;	
}

.upload-left {
	float:left;
	width:210px;
	padding:5px;
}

.upload-right {
	float:left;
	width:250px;
}

.module-title {
	color: #666;
	font-size: 28px;
	margin-left:10px;
	margin-right:20px;
}
.module-title a {
	color: #666;
}
.module-title a:hover {
	text-decoration:none;
}

.assignwrapper {
	visibility:hidden;
}

/*state overview*/

.state-overview .symbol, .state-overview .value {
    display: inline-block;
    text-align: center;
}

.state-overview .value  {
    float: right;

}

.state-overview .value h1, .state-overview .value p  {
    margin: 0;
    padding: 0;
    color: #c6cad6;
}

.state-overview .value h1 {
    font-weight: 300;
}

.state-overview .symbol i {
    color: #fff;
    font-size: 50px;
}

.state-overview .symbol {
    width: 40%;
    padding: 25px 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
    width: 58%;
    padding-top: 21px;
}

.state-overview .terques {
    background: #6ccac9;
}

.state-overview .red {
    background: #ff6c60;
}

.state-overview .yellow {
    background: #f8d347;
}

.state-overview .blue {
    background: #57c8f2;
}


.badge.bg-new {
	background:#5985F7;
}

.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}

.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}

.task-thumb-details {
	display: inline-block;
	margin: 25px 0 0 10px;
}

.task-thumb {
	width: 90px;
	float: left;
}

.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
	color: #39b5aa;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1, .task-progress h1 a {
	color: #39b5aa;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

.dataTables_paginate {
	float:right;
	margin-top:7px
}
.paging_full_numbers {
	height:22px;
	line-height:22px
}
.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active {
	border-top:1px solid #EAEDF1;
	border-left:1px solid #EAEDF1;
	border-right:1px solid #EAEDF1;
	border-bottom:1px solid #EAEDF1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border-radius:3px;
	padding:4px 7px;
	margin:0 3px;
	cursor:pointer;
	color:#686868;
	font-weight:100;
	font-size:11px;
}
.paging_full_numbers a.paginate_button {
	background:#EAEDF1;
	background-size:100%;
}
.paging_full_numbers a.paginate_button:hover {
	background:#eaeaea;cC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
}
.paging_full_numbers a.paginate_active,.paging_full_numbers a.paginate_button:active {
	border:1px solid #EAEDF1;
	color#aaa;
}
.paging_full_numbers a.paginate_button_disabled {
	background:#EAEDF1;
	color:#c5c5c5;
	box-shadow:none;
	border:1px solid #EAEDF1;
}
.paging_full_numbers a.paginate_button_disabled:active,.paging_full_numbers a.paginate_button_disabled:hover {
	background:#eee;
	border:1px solid #E2E2E2;
	box-shadow:none
}

.action-wrapper {
	display:none;	
}

.project-action {
	float:left;
	margin:10px 20px 0px 10px;
	padding:3px 20px;
}
.message-wrapper{
	float:left;
}
.message-text {
	padding-top:20px;	
}
.hide {
	display:none;
}

#header .dropdown-menu {
	left:auto;
	right:0 !important;
}

.form-horizontal .form-group .controls {
	margin-right: -15px;
	margin-left: -15px;
}

.bg-white {
	background:#fff !important;
}